<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Covid-Z | Parte din schimbare</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../static/css/style_error.css" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<p>Vedeți acest mesaj pentru că:</p>
				<p>1) Din cauza grijii noastre pentru confidențialitatea dvs., după realizarea predicției, imaginea este
					automat ștersă de pe server,
					pentru a nu expune datele dvs. mai mult decât ar trebui. Vă mulțumim că ne-ați ales. Dacă doriți să
					vedeți din nou rezultatele, o puteți reîncărca, este gratuit:) SAU poate ați încărcat un fișier care
					depășește dimensiunea maximă (8 MB).</p>
			</div>
			<p></p>
			<p></p>
			<a href="http://127.0.0.1:5000/">Mergi înapoi pe pagina principală</a>
		</div>
	</div>
</body>

</html>